Webpack (imports/exports)
    babel
    scss
    eslint
    2 modes:
    - Dev
        Dev Server, Source maps, eslint, not minified JS & css
    - Prod
    Minified code

Git
    Production
        1.0.0
    -------------
    Development
        1.0.2
    1 ---------------    Pull Request
    2 ------------------       |              в скопированной ветке пилим фичу


только полностью стабильную dev ветку можно сливать с продакшеном.



1. План
2. Инициализация VCS git
3.